DATABASE_URL=postgresql://neon....
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2hh....
CLERK_SECRET_KEY=sk_test_92FXxD....
OPENROUTER_API_KEY=sk-or-v1-0e3e8ead77....
NEXT_PUBLIC_APP_URL=http://localhost:3000